.content-area-map {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding-top: 15px;
    max-width: 1200px;
    margin-bottom: 10px;
}

.map-title {
    display: flex;
    justify-content: center;
    font-size: 30px;  
}

.general-text-map {
    display: flex;
    justify-content: center;
}