.content-area-interests {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
    margin-top: 50px;
}

.column-area {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.content-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
}

.tile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(92, 92, 92);
    border-radius: 5%;
    width: 345px;
    padding-top: 12px;
}

.column-header {
    display: flex;
    font-size: 22px;
    font-weight:bold;
    justify-content: center;
}

.legend {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 35px;
}



@media (prefers-color-scheme: dark) {
    
}