.tile {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 376px;
    background: white;
    color: black;
    border-radius: 15%;
    margin: 20px;
    overflow: hidden;
}

.tile:hover {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
}


.proj-title {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 25px;
}

.desc {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    height: 155px;
}

.tile-img {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 170px;
    width: 360;
}

.pic {
    display: flex;
    justify-content: center;
}

.pad {
    margin-left: 15px;
    margin-right: 15px;
}


.interest-tile {
    display: flex;
    width: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 15px;
    background: aliceblue;
    color: black;
    border-radius: 15px;

}

.interest-tile:hover {
    transform: translateX(15px);
}

.map-container {
    display: flex;
    margin-top: 40px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    height: 85vh;
    width: 50vw;
    padding: 20px;
    border-radius: 8px;
    align-items: center;
    position: relative;
}

.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 4px;
    cursor: pointer;
    font-size: 35px;
    color: red;
}

.modal-title {
    font-size: 20px;
}

.modal-footer {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 20vh;
    margin: 10px;
    padding: 10px;
    bottom: 0;
    width: inherit;
}

@media (prefers-color-scheme: light) {
    .tile {
        border: 2px solid black;
    }

    .tile:hover {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);

    }

    .interest-tile {
        background: black;
        color: white;
    }
}