main {
    display: flex;
    justify-content: center;
}

.paper {
    display: flex;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 750px;
    height: auto;
    justify-content: center;
    color: black;
    background-color: rgb(241, 233, 235);
    box-shadow: gray (0,0,1,1);
    border-radius: 8px;
}