h1 {
    font-size: 26px;
    font-weight: 400;
    margin: 1px;
}

h2 {
    display: flex;
    font-size: 22;
    font-weight: 200;
    margin-bottom: -8px;
}

h3 {
    font-size: 16;
    font-weight: 100;
    margin-bottom: -1px;
}

p {
    font-size: 12px;
    margin-bottom: -1px;
}

.section-header-container {
    display: block;
    justify-content: start;
    margin: 1px;
}